<% provide(:title, 'Home') %>
<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h1>Medicos</h1>
      <p>Acceda a la lista de Medicos, cree nuevos, vea sus agendas cree consultas.</p>
      <p class="center"><a class="btn btn-primary btn-lg" role="button">IR</a></p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="jumbotron">
      <h1>Pacientes</h1>
      <p>Acceda a la lista de Pacientes, cree nuevos, vea el historial de consultas.</p>
      <p class="center"><a class="btn btn-primary btn-lg" role="button">IR</a></p>
    </div>
  </div>
</div>
