<% provide(:title, _('Login')) %>
<div class="center jumbotron">

  <h1><%= _('Medical Calendar') %></h1>
  <h2>
    <%= _('Calendar system  integrates events from distributed calendars and deliveres updates to Doctors client mobiles.')%>
  </h2>

  <div>
  <%= link_to _('Sign in'), signin_path, class: "btn btn-primary btn-lg", role: "button" %>
  </div>  
  <div class="link-bellow-button">
  <%= link_to _('Sign up'), signup_path %>
  </div>
</div> 

