<tr>
<td> <div class="glyphicon glyphicon-user"></div>
<td><%= link_to patient.name, patient_path(patient) %> </td>
<td><%= link_to patient.phone_number, '#'  %> </td>
<td><%= link_to patient.email, '#' %></td>
</tr> 


