<div class="btn-group btn-group-lg" data-toggle="buttons-radio">
  <button type="button" class="btn btn-default" id="btn-personal-data"><%= link_to _('Personal Data'), doctor_path %></button>
  <button type="button" class="btn btn-default" id="btn-patients"><%= link_to  _('Patients'), '#' %> </button>
  <button type="button" class="btn btn-default" id="btn-calendar"><%= link_to  _('Calendar'), '#' %> </button>
</div>
