<tr>
<td> <div class="glyphicon glyphicon-user"></div>
<td><%= link_to doctor.name, doctor_path(doctor) %> </td>
<td><%= link_to doctor.phone_number, '#'  %> </td>
<td><%= link_to doctor.email, '#' %></td>
</tr> 


