<% provide(:title, _('Calendar')) %>

<script type="text/javascript">
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

});
</script>

<h1>_('Calendar') | <%= @doctor.name %></h1>

<div id='calendar'></div>

