<% provide(:title, _('Calendar')) %>

<script type="text/javascript">
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

});
</script>

<div class="row">
  <div class="button-sections">
    <%= render 'shared/doctor_buttons' %>
    <script type="text/javascript">
      $("#btn-calendar").button('toggle');
    </script>  
  </div>
</div>

<h1><%= @doctor.name %></h1>

<div class="row">
  <div id='calendar'></div>
</div>
