<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to _('About'),   about_path %></li>
      <li><%= link_to _('Contact'), contact_path %></li>
      <li><%= link_to _('Help'), help_path %></li>
    </ul>
  </nav>
</footer>
