<header> 
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Medical Calendar", root_path, id: "logo" %>
      
        <ul class="navbar-right">
          <%= link_to "Home", root_path %>
        </ul>
	<ul class="navbar-right">
          <%= link_to "Help", help_path %>
        </ul>
      
    </div>
  </div>
</nav>
</header>
